@tailwind base;
@tailwind components;
@tailwind utilities;

.AccordionContent {
  overflow: hidden;
}
.AccordionContent[data-state='open'] {
  animation: slideDown 300ms ease-out;
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--primitive-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--primitive-accordion-content-height);
  }
  to {
    height: 0;
  }
}
